{% extends 'base.html.twig' %}

{% form_theme form 'form/theme.html.twig' %}

{% trans_default_domain 'movie' %}

{% block title %}{{ 'Movies'|trans }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row text-center">
            <div class="col">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-secondary btn-lg btn-block text-white">{{ 'Search'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        {% if movies|length %}
            <div class="row">
                <table class="table">
                    <tr>
                        <th>{{ 'Image'|trans }}</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'Year'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>

                    {% for movie in movies %}
                        <tr>
                            <td>
                                {% if movie.Poster != 'N/A' %}
                                    <a class="open-modal" href="{{ movie.Poster }}">
                                        <img class="img-thumbnail img-responsive" style="max-height: 100px" src="{{ movie.Poster }}" alt="{{ movie.Title }}">
                                    </a>
                                {% else %}
                                    <img class="img-thumbnail img-responsive" style="max-height: 100px" src="{{ asset('assets/img/default.png') }}" alt="{{ 'Default'|trans }}">
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('movie_show', {movieId: movie.imdbID}) }}" role="button">
                                    {{ movie.Title }}
                                </a>
                            </td>
                            <td>{{ movie.Year }}</td>
                            <td>{{ movie.Type }}</td>
                            <td>
                                {% if favouriteMovies[movie.imdbID]|default(false) %}
                                    <a href="{{ path('user_favouriteMovie', {movieId: movie.imdbID}) }}" class="btn btn-danger btn-favourite" title="{{ 'Remove from favourite'|trans({}, 'user') }}">
                                        {{ 'Remove from favourite'|trans({}, 'user') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('user_favouriteMovie', {movieId: movie.imdbID}) }}" class="btn btn-success btn-favourite" title="{{ 'Add to favourite'|trans({}, 'user') }}">
                                        {{ 'Add to favourite'|trans({}, 'user') }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% include 'paginator/_paginator.html.twig' with {page: page, routePath: 'movie_list'} %}
        {% endif %}
    </div>
{% endblock %}
