{% extends 'base.html.twig' %}

{% trans_default_domain 'movie' %}

{% block title %}{{ 'My favourite movies'|trans({}, 'user') }} {% endblock %}

{% block main %}
    <div class="container">
        {% if movies|length %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>{{ 'My favourite movies'|trans({}, 'user') }}</h3>
                </div>
                <table class="table">
                    <tr>
                        <th>{{ 'Image'|trans }}</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'Year'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>

                    {% for movie in movies %}
                        <tr>
                            <td>
                                {% if movie.Poster != 'N/A' %}
                                    <a class="open-modal" href="{{ movie.Poster }}">
                                        <img class="img-thumbnail img-responsive" style="max-height: 100px" src="{{ movie.Poster }}" alt="{{ movie.Title }}">
                                    </a>
                                {% else %}
                                    <img class="img-thumbnail img-responsive" style="max-height: 100px" src="{{ asset('assets/img/default.png') }}" alt="{{ 'Default'|trans }}">
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('movie_show', {movieId: movie.imdbID}) }}" role="button">
                                    {{ movie.Title }}
                                </a>
                            </td>
                            <td>{{ movie.Year }}</td>
                            <td>{{ movie.Type }}</td>
                            <td>
                                <a href="{{ path('user_favouriteMovie', {movieId: movie.imdbID}) }}" class="btn btn-danger btn-favourite" title="{{ 'Remove from favourite'|trans({}, 'user') }}">
                                    {{ 'Remove from favourite'|trans({}, 'user') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex justify-content-center w-100">
                <ul class="pagination">
                    {% if paginator.showPrevious %}
                        {% include 'movie/_paginator_item.html.twig' with {label: 'Previous', page: page-1, actualPage: page, routePath: 'user_myFavouriteMovies'} %}
                    {% endif %}
                    {% if paginator.showFirst %}
                        {% include 'movie/_paginator_item.html.twig' with {label: 1, page: 1, actualPage: page, routePath: 'user_myFavouriteMovies'} %}
                    {% endif %}
                    {% for i in paginator.start..paginator.end %}
                        {% include 'movie/_paginator_item.html.twig' with {label: i, page: i, actualPage: page, routePath: 'user_myFavouriteMovies'} %}
                    {% endfor %}
                    {% if paginator.showNext %}
                        {% include 'movie/_paginator_item.html.twig' with {label: 'Next', page: page + 1, actualPage: page, routePath: 'user_myFavouriteMovies'} %}
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>{{ 'No favourite movies'|trans({}, 'user') }}</h3>
                    <p><a class="btn btn-primary btn-lg" href="{{ path('movie_list') }}" role="button">{{ 'View movies'|trans({}, 'app') }}</a></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
